.dashboard-data-graphics {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 50px;
}

.item-title-style {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 16px;
}

.dashboard-list-style {
  margin-top: 40px;
}